$purple: #473BE7;
$darkBlue: #39516e;
$darkGray: #363839;
$turquoise: #4dcadd;
$white: #fff;

$typeC: $darkGray;

$font-size: 14px;

$xs-space: 4px;
$s-space: 8px;
$m-space: 16px;
$l-space: 32px;

$logo-width: 160px;
$header-height: 70px;
