@import "../globals";

$_image_size: 110px;

.cover {
  background-color: $purple;
  padding-top: $m-space;
  padding-bottom: $m-space;
}

.cover__container {
  display: flex;
  flex-direction: row;
}

.cover__container__name {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2, span {
    color: $typeLight;
  }
}

.cover__image__link {
  cursor: pointer;
}

.cover__image {
  object-fit: cover;
  height: $_image_size;
  width: $_image_size;
  border-radius: 50%;
  margin-right: $m-space;
}
