@import "../globals";

.cover {
  background-color: theme-color("primary");
  padding-top: $m-space;
  padding-bottom: $m-space;
}

.cover__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover__container__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2, span {
    text-align: center;
    color: color("white");
  }
}

.cover__avatar__link {
  cursor: pointer;
}

@include media-breakpoint-up(sm) {
  .cover__container {
    flex-direction: row;
  }

  .cover__container__name {
    align-items: flex-start;

    h2, span {
      text-align: left;
    }
  }

  .cover__avatar {
    margin-right: $m-space;
  }
}
