@import "../globals";

/**
 * Styles for the Header.js component
 */

header {
  svg {
    position: absolute;
    right: -20%;
    top: 2px;
  }
}

.navbar {
  min-height: $header-height;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 0.9rem;
}

.nav-link {
  color: $typeC;
  text-transform: uppercase;
}

.dropdown-item {
  &, a {
    text-decoration: none !important;
  }

  .active, &:active {
    &, a {
      color: #fff;
    }
  }
}

.header__logo {
  display: block;
  width: $logo-width;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
  margin: 0 auto;
}

.header__avatar {
  display: inline-block;
}
