/**
 * Styles for the ProfilePicture.js component
 */

$_image_size: 40px;

.profile-picture__container {
  display: inline-block;
}

.profile-picture__img {
  width: $_image_size;
  height: $_image_size;
  border-radius: 50%;
  object-fit: cover;
}
